<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User WishList Application </title>
    <link rel="stylesheet" href="{% static 'css.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<h1 align ="center">User WishList Form </h1>
<div class ="container" align="center">
    <form method = "post">
        {{ form.as_p }}
        <input type="submit" value="NewList" class="btn btn-success">
        {% csrf_token %}
    </form>
</div>
</body>
</html>

